<!DOCTYPE html>
   <head>
      <title>Test</title>
   </head>

   <body>
      <h1>LED controller!</h1>
        <div>
            <div>
            RED: <a href="/setLED/1/red"> On <a>
            <a href="/setLED/0/red"> Off <a>
            </div>
            <div>
            BLUE: <a href="/setLED/1/blue"> On <a>
            <a href="/setLED/0/blue"> Off <a>
            </div>
            <div>
            GREEN: <a href="/setLED/1/green"> On <a>
            <a href="/setLED/0/green"> Off <a>
            </div>
	    <div>
	    PLAY SOUND: <a href="/setAlarm/10/10"> play <a>
	    </div>
        </div>
   </body>
</html>
